!!! 5
html
  head
    != mason('platform.js')

  body
    h1 This is the header
    p This is a paragraph
    ul
      li First
      li Second
      li Third

    != mason('page.js')
    p A and B should both be defined:
    script
      document.write('A = ' + A);
      document.write('<br />');
      document.write('B = ' + B);